---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col justify-center items-center">
		<h1 class="text-4xl m-4 mb-10 text-[#0f6dbf]">VWD & AVG</h1>
		<div class="flex flex-col gap-4 w-[80vw] xl:w-[50vw]">
      <p><b>Algemene Voorwaarden Center for Life - Shiatsu, Individuele Begeleiding en Moxa Therapie</b></p>
      <br>
      <p><i>Vertrouwelijkheid van de consulten/therapie</i></p>
      <p>De behandelaar is gehouden aan de RBCZ beroepscode. De behandelaar stelt de
belangen van de cliënt centraal in de therapie. De cliënt dient alle voor een goede
behandeling relevante informatie te overleggen aan de behandelaar. Inhoudelijke
informatie vanuit de therapie wordt nooit naar buiten gebracht tenzij de cliënt
daarvoor expliciet toestemming heeft gegeven. De cliënt heeft het recht tot inzage in
zijn dossier.</p>
<br>
<p><i>Behandelovereenkomst volwassenen en kinderen</i></p>
<p>Volgens de Wet kwaliteit, klachten en geschillen in de zorg (Wkkgz) zal voorafgaand
aan de eerste behandeling een behandelovereenkomst worden getekend om
duidelijkheid te scheppen voor client en behandelaar wat de afspraken, rechten en
plichten zijn. De behandelovereenkomst valt onder deze algemene voorwaarden.
Volgens de Wet Geneeskundige Behandelovereenkomst (WGBO) is bij kinderen tot
16 jaar voorafgaand aan de behandeling de toestemming van beide ouders/voogden
vereist. Kinderen tussen de 12-16 jaar moeten akkoord gaan met de behandeling en
daarom de overeenkomst mee tekenen of mondeling toestemming geven (hetgeen
genoteerd wordt in het dossier). In mijn praktijk handel ik volgens de richtlijnen
Meldcode huiselijk geweld en kindermishandeling.</p>
<br>
<p>Hierbij de privacy verklaring (document van SVN) waarin staat welke gegevens van u bewaard worden in het cliëntendossier.</p>
<br>
<a href="AVGdoc.docx" class="text-[#0f6dbf]" downloilad="">Klik om privacy verklaring te downloaden</a>
<br>
<p><i>Duur, kosten en betaling van de behandeling en kosten betalingsherinneringen</i></p>
<p>De eerste behandeling (intake) duurt 90 minuten, de vervolgbehandeling duurt 60
minuten, tenzij anders nodig blijkt te zijn. Dit laatste wordt altijd overlegd met de cliënt
tijdens de behandeling. Een behandeling van 60 minuten is €85,- en van 90 minuten
is €105,-.
Het kan zijn dat een behandeling iets uitloopt en dat u daarom iets moet wachten. Dit
is in het belang van het goed afronden van een behandeling. Houdt u hier ook
rekening mee met het maken van afspraken na een shiatsubehandeling. Mocht u op
tijd weg moeten, geef dit alsjeblieft aan, dan houden we daar rekening mee.</p>
<br>
<p>Er is sprake van niet op tijd betalen indien:</p>
<ol>
  <li>de betalingstermijn van een factuur is verstreken, of</li>
  <li>de betalingstermijn van een KNAB betaalverzoek is verstreken.</li>
</ol>
<p>Indien een behandeling niet op tijd wordt betaald, krijg je een eerste
betaalherinnering per mail of whatsapp.
Indien die niet wordt betaald dan wordt bij de tweede herinnering het te betalen
bedrag met €10 verhoogd.
Mocht een derde betalingsherinnering nodig zijn dan wordt het te betalen bedrag van
de tweede herinnering verhoogt met €15.
Indien deze derde herinnering niet wordt betaald, wordt de betaling uit handen
gegeven aan een derde partij die de kosten int. De kosten voor deze procedure zijn
voor de cliënt. Dit is uiteraard niet wenselijk voor alle partijen.</p>
<br>
<p><i>Telefonische Bereikbaarheid</i></p>
<p>De therapeut biedt altijd de mogelijkheid om de voicemail in te spreken of een bericht
te sturen via e-mail of whatsapp (zie contactgegevens). Laat hierbij weten wanneer
het u uitkomt terug gebeld te worden. U wordt dan zo spoedig mogelijk teruggebeld.</p>
<br>
<p><i>Afspraken afzeggen / niet verschijnen op afspraak</i></p>
<p>Bij verhindering dient de cliënt minimaal 36 uur van tevoren af te zeggen (telefonisch
(door een bericht op de voicemail in te spreken), per whatsapp of per e-mail). Indien
dit niet gebeurt wordt de behandeling in rekening gebracht. Bij overmacht wordt de
behandeling ook in rekening gebracht, denk hierbij aan file, slecht weer, etcetera.
Bij verhindering van de behandelaar wordt u zo tijdig mogelijk geïnformeerd en wordt
op zo kort mogelijke termijn een nieuwe afspraak gemaakt.</p>
<br>
<p><b>Algemene Voorwaarden Center for Life - Yoga</b></p>
<br>
<p>Deelname aan de yogalessen, yogadagen en retraites betekent dat u akkoord
gaat met deze algemene voorwaarden.</p>
<br>
<p><b>Aanmelden</b></p>
<p>Door het via email, whatsapp of mondeling aangaan van een yoga abonnement bij
Center for Life, verklaart u zich akkoord met onderstaande bepalingen. Center for
Life hanteert geen inschrijfgeld en alleen het volgen van een proefles(sen) valt niet
onder het aangaan van een abonnement.</p>
<br>
<p><b>Abonnementen, betaling en tarieven</b></p>
<ul>
  <li>De overeenkomst wordt tenminste voor 1 maand aangegaan en wordt zonder
opzegging automatisch verlengd.</li>
<li>Het lesgeld wordt op de eerste dag dat er gebruik wordt gemaakt van het
abonnement (de eerste lesdag na de eventuele proefles) aangegaan via de
abonnement-link op de website (onder kopje yoga details) . Lesgeld kan ook
overgemaakt worden door deelnemer. Als de deelnemer zelf betaalt, stelt hij/zij een
periodieke betaling in zodat er per maand wordt betaald op dezelfde datum.</li>
<li>Abonnementen lopen door totdat het abonnement wordt opgezegd en een maand
later is beeindigd.</li>
<li>De deelnemer dient het verschuldigde lesgeld over te maken naar bankrekening
NL77KNAB0259765198 t.n.v. Center for Life of geschiedt via automatische incasso
(bij afsluiten abonnement via de website). De kosten voor de abonnementen staan
vermeld op de website.</li>
<li>Wanneer u als deelnemer uw betalingsverplichting niet tijdig nakomt, behoudt
Center for Life zich het recht voor u de toegang tot de lessen te weigeren tot aan de
betalingsverplichting is voldaan.</li>
<li>Center for Life behoudt zich het recht voor het lesgeld tussentijds te verhogen en
wijzigingen aan te brengen in de lestijden op het rooster. U wordt hierover tijdig
geïnformeerd.</li>
<li>Het abonnement is doorlopend. De betaling loopt ook door wanneer er geen les
gegeven wordt door vakantiesluiting van Center for Life (met een maximum van 8
weken per jaar). Gedurende deze weken kunt u gebruik maken van de
lessenbibliotheek die online staat.</li>
</ul>
<br>
<p><b>Opzeggen</b></p>
<p>Opzeggen of wijzigen van uw abonnement kan alleen via e-mail of whatsapp. Vanaf
het moment van opzegging loopt de overeenkomst nog één maand door en u bent
dan ook nog één maand lesgeld verschuldigd. Na de opgezegde datum is het niet
meer mogelijk om eventueel gemiste lessen in te halen.</p>
<br>
<p><b>Afmelden bij ziekte of andere afwezigheid en inhalen</b></p>
<p>Wanneer u bij een les niet aanwezig kan zijn door ziekte, vakantie of een andere
reden, dient u Center for Life daarover in te lichten. Deze les kunt u op een later
tijdstip (binnen 1 maand, anders vervalt deze les) inhalen.
De les vervalt, wanneer deze niet wordt afgemeld. Restitutie van het lesgeld is niet
mogelijk. Het abonnement kan in geval van ziekte (langer dan 4 weken) tijdelijk
stopgezet worden (maximaal 2 maanden). Daarna vervalt de plek in de groep en
wordt deze vrijgegeven aan iemand die mogelijk op de wachtlijst staat.
Tijdens vakanties of officiële feestdagen kan het abonnement (of een gedeelte ervan)
niet stopgezet worden.</p>
<br>
<p><b>Openingstijden</b></p>
<p>Center for Life is geopend op de door ons aangegeven tijden en is gesloten op
officiële feestdagen. Tijdens vakanties en in de zomerperiode kan er een aangepast
rooster ingesteld worden of enkel online les gegeven worden.
Het abonnementsgeld is gebaseerd op het feit dat u elke maand doorbetaalt, dus ook
tijdens de weken dat de yogastudio gesloten is. De aanpassingen op het lesrooster
tijdens vakanties zal op tijd bekend gemaakt worden in de studio en op de website.</p>
<br>
<p><b>Hygiëneregels</b></p>
<p>De yogastudio mag je niet met schoenen betreden en het dragen van schone
sportkleding vereist is. Vanuit hygiënisch oogpunt graag een handdoek voor op de
yogamat en een kleine handdoek voor op de bolster meenemen.
Center for Life gaat er vanuit dat u alle materialen in de studio naar behoren gebruikt
en schoonhoudt. Drinken in de yogastudio mag alleen uit een afsluitbare fles.</p>
<br>
<p><b>Afwezigheid docent(e)</b></p>
<p>Center for Life is niet aansprakelijk voor blessures of lichamelijk letsel. Deelname aan
de lessen geschiedt op eigen risico. Als deelnemer blijft u zelf verantwoordelijk voor
uw gezondheid. Blijf binnen de grenzen van uw eigen kunnen. Juist door uw grenzen
te respecteren zullen die langzaam opschuiven. De kosten voortvloeiend uit enig
letsel of ongeval worden geheel door de deelnemer gedragen. Bij (ernstige)
lichamelijke klachten is het raadzaam eerst met de huisarts te overleggen of

beoefening van yoga tot de mogelijkheden behoort. Elke deelnemer is verplicht
lichamelijke klachten voorafgaand aan de les te melden aan de docent.
Center for Life stelt zich niet aansprakelijk voor het zoekraken of beschadigen van
eigendommen van deelnemers en stelt deelnemers aansprakelijk voor eventuele
schade die wordt aangericht aan de yogaruimte en/of inventaris van Center for Life.</p>
<br>
<p><b>Nieuwsbrief</b></p>
<p>Wanneer u een abonnement afsluit gaat u ermee akkoord de nieuwsbrief te
ontvangen. In deze nieuwsbrief staat ook informatie die van belang kan zijn voor de
yogalessen. Zorg ervoor dat u de nieuwsbrief leest.</p>
<br>
<p><b>Privacy</b></p  >
<p>Uw persoonsgegevens worden verwerkt door Center for Life volgens de richtlijnen
van de AVG (zie hieronder).</p>
<br>
<p><b>Uitzonderingen</b></p>
<p>Center for Life beslist, in overleg met de deelnemer, wanneer de algemene
voorwaarden niet van toepassing zijn.</p>
<br>
<p><b>Aanvullende voorwaarden workshops, / yogadagen en retraites</b></p>
<br>
<p>U dient het annuleren van een workshops altijd per e-mail of WhatsApp aan ons door
te geven. De annulering is pas rond, wanneer u ook daadwerkelijk een bevestiging
van onze kant hebt ontvangen. Let hierop!</p>
<br>
<p>Een geboekte <b>Workshop / Yogadag</b> kunt u tot 48 uur <b>voor aanvang kosteloos
annuleren</b>. Annuleert u binnen 48 uur voor aanvang van de workshop, dan is het
volledige bedrag verschuldigd.
Een geboekte <b>Retraite</b> kunt u <b>tot 2 maanden voor aanvang kosteloos annuleren.</b>
Annuleert u <b>tussen 2 maanden en 1 maand voor aanvang</b>, dan krijgt u <b>50% van
de kosten vergoed</b>. Annuleert u <b>binnen 7 dagen voor aanvang</b> van de retraite, dan
is <b>het volledige bedrag verschuldigd.</b></p>
<br>
<p><b>Annuleren door Center for Life</b></p>
<p>Bij onverhoopte annulering van de workshop / yogadag of retraite door Center for
Life wegens onvoldoende deelnemers, overmacht of andere redenen, dan wordt de
betaling volledig teruggestort.</p>
<br>
<p><b>AVG - Privacyverklaring voor Center for Life,
gevestigd te Velp (GLD), Kvk 56022956</b></p>
<br>
<p>Center for Life is verantwoordelijk voor de verwerking van persoonsgegevens zoals
weergegeven in deze privacyverklaring.</p>
<br>
<p>Contactgegevens: www.centerforlife.nl / tel. +31643154080</p>
<br>
<p>Werkzaamheden van Center for Life: het geven van yogalessen en het behandelen
van mensen met Zen Shiatsu Therapie, Moxa en daaraan gerelateerde therapieen.</p>
<br>
<p><i>Persoonsgegevens die wij verwerken</i></p>
<p>Center for Life verwerkt uw persoonsgegevens doordat u gebruik maakt van onze
diensten en/of omdat u deze zelf aan ons verstrekt.</p>
<p>Hieronder vindt u een overzicht van de persoonsgegevens die wij verwerken:</p>
<ul>
  <li>Voor- en achternaam</li>
  <li>Geslacht</li>
  <li>Geboortedatum</li>
  <li>Adresgegevens</li>
  <li>Naam verzekeraar en relatienummer</li>
  <li>Telefoonnummer</li>
  <li>E-mailadres</li>
  <li>Overige persoonsgegevens die u actief verstrekt bijvoorbeeld door het
contactformulier op deze website in te vullen, in correspondentie, telefonisch, door
het vraaggesprek en diagnose tijdens de behandeling(en), of door het invullen van
het inschrijfformulier voor yogalessen.</li>
  <li>Bankrekeningnummer voor het verwerken van de betaling van de behandeling(en)
en / of yogalessen.</li>
<br>
<b><i>Bijzondere en/of gevoelige persoonsgegevens die wij verwerken:</i></b>
<p>Gegevens in het kader van uw gezondheid; dit omvat vragen ten aanzien van de
algehele gezondheid (zowel gezonde kenmerken als klachten). Ook worden
verbeteringen en/of verslechteringen naar aanleiding van de behandeling(en)
verwerkt. Gegevens mbt de toegepaste therapie.</p>
<br>
<p><i>Met welk doel wij persoonsgegevens verwerken</i></p>
<p>Center for Life verwerkt uw persoonsgegevens voor de volgende doelen: het
persoonlijk kunnen begeleiden van yogales of de door Center for Life gebruikte
therapieën zo optimaal mogelijk kunnen toepassen. Hoe beter u kunt aangeven waar
u behoefte aan heeft en hoe uw gezondheid functioneert, hoe meer wij de
behandeling op uw situatie kunnen toepassen.</p>
<br>
<p><i>Op welke grondslag wij persoonsgegevens verwerken</i></p>
<ul>
  <li>De behandelaar(s) van Center for Life zijn gehouden aan de RBCZ beroepscode.</li>
  <li>Volgens de Wet Geneeskundige Behandelovereenkomst (WGBO) sluit Center for
Life met al haar cliënten die een afspraak maken voor Zen Shiatsu een
behandelovereenkomst. Bij kinderen tot 16 jaar is voorafgaand aan de behandeling
de toestemming van beide ouders/voogden vereist. Kinderen tussen de 12-16 jaar
moeten akkoord gaan met de behandeling en daarom de overeenkomst mee
tekenen of mondeling toestemming geven (hetgeen genoteerd wordt in het dossier).
Zie algemene voorwaarden op www.centerforlife.nl voor de tekst van deze
behandelovereenkomst.</li>
  <li>Volgens de Wet kwaliteit, klachten en geschillen in de zorg (Wkkgz) zal voorafgaand
aan de eerste behandeling een behandelovereenkomst worden getekend om
duidelijkheid te scheppen voor cliënt en behandelaar wat de afspraken, rechten en
plichten zijn. Zie onder algemene voorwaarden de tekst van de
behandelovereenkomst. De behandelovereenkomst valt onder de algemene
voorwaarden van Center for Life.</li>
</ul>
<br>
<p><i>Geautomatiseerde besluitvorming</i></p>
<p>Center for Life neemt op basis van geautomatiseerde verwerkingen geen besluiten
over zaken die (aanzienlijke) gevolgen kunnen hebben voor personen. Het gaat hier
om besluiten die worden genomen door computerprogramma’s of -systemen, zonder
dat daar een mens (bijvoorbeeld een medewerker van Center for Life) tussen zit.</p>
<br>
<p><i>Center for Life gebruikt de volgende computerprogramma’s of -systemen</i></p>
<ul>
  <li>beveiligd emailverkeer via Gmail.</li>
  <li>alle gegevens die naar aanleiding van inschrijfformulieren voor yogalessen, of
persoonlijke en of gezondheidsgegevens die in het kader van het kwalitatief goed
kunnen geven van Zen Shiatsu Therapie en/of aanverwante therapieën zoals
omschreven op de website, worden genoteerd, worden op papier genoteerd en in
een voor derden afgeschermde omgeving dagelijks opgeborgen.</li>
</ul>
<br>
<p><i>Hoe wij persoonsgegevens beveiligen</i></p>
<p>Center for Life neemt de bescherming van uw gegevens serieus en neemt passende
maatregelen om misbruik, verlies, onbevoegde toegang, ongewenste
openbaarmaking en ongeoorloofde wijziging tegen te gaan. Center for Life is van
mening dat een papieren dossier in vergelijking tot een computerprogramma minder
gemakkelijk te kraken is, minder snel online te misbruiken, en bij de verwerking en up
to date houden ervan niet afhankelijk is van derde partijen.  Als u de indruk heeft dat
uw gegevens niet goed beveiligd zijn of er aanwijzingen zijn van misbruik, neem dan
contact op met Hannah Mutsaerts via info@centerforlife.nl</p>
<br>
<p><i>Hoe lang we persoonsgegevens bewaren</i></p>
<p>Het dossier wordt conform de wettelijke bewaartermijn in totaal 20 jaar bewaard.</p>
<br>
<p><i>Delen van persoonsgegevens met derden</i></p>
<p>Center for Life verstrekt uitsluitend gegevens aan derden met uw toestemming en
alleen als dit nodig is voor de uitvoering van de behandelovereenkomst of om te
voldoen aan een wettelijke verplichting.</p>
<br>
<p><i>Cookies, of vergelijkbare technieken, die wij gebruiken</i></p>
<p>Center for Life gebruikt cookies voor het goed functioneren van de website. U dient
toestemming te geven als u de website voor de eerste keer gebruikt.</p>
<br>
<p><i>Gegevens inzien, aanpassen of verwijderen</i></p>
<p>U heeft het recht om uw persoonsgegevens in te zien, te corrigeren of te verwijderen.
Daarnaast heeft u het recht om uw eventuele toestemming voor de
gegevensverwerking in te trekken of bezwaar te maken tegen de verwerking van uw
persoonsgegevens door Center for Life en heeft u het recht op
gegevensoverdraagbaarheid. Dat betekent dat u bij ons een verzoek kunt indienen
om de persoonsgegevens die wij van u beschikken in kopie naar u of een ander,
door u genoemde organisatie, te sturen.</p>
<p>U kunt een verzoek tot inzage, correctie, verwijdering, gegevensoverdraging van uw
persoonsgegevens of verzoek tot intrekking van uw toestemming of bezwaar op de
verwerking van uw persoonsgegevens sturen naar info@centerforlife.nl.
Om er zeker van te zijn dat het verzoek tot inzage door u is gedaan, vragen wij u een
kopie van uw identiteitsbewijs met het verzoek mee te sturen. Maak in deze kopie uw
pasfoto, MRZ (machine readable zone, de strook met nummers onderaan het
paspoort), paspoortnummer en Burgerservicenummer (BSN) zwart. Dit ter

bescherming van uw privacy. We reageren zo snel mogelijk, maar binnen vier weken,
op uw verzoek.</p>
<p>Center for Life wil u er tevens op wijzen dat u de mogelijkheid heeft om een klacht in
te dienen bij de nationale toezichthouder, de Autoriteit Persoonsgegevens. Dat kan
via de volgende <a class="text-blue-600" href="https://autoriteitpersoonsgegevens.nl/nl/contact-met-de-autoriteit-persoonsgegevens/tip-ons">link</a></p>
<br>
<p>Deze privacyverklaring is met grote zorg samengesteld.
Mocht u opmerkingen of vragen hebben over deze verklaring dan verzoek ik u deze
te sturen naar info@centerforlife.nl</p>
      </div>
		<Footer />	
	</main>
</Layout>