---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="flex justify-center items-center">
			<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      	<h2 class="mb-4 text-4xl tracking-tight text-center text-[#0f6dbf]">Contact</h2>
      	<p class="mb-4 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Heb je vragen? Stel ze gerust!</p>
      	<form action="https://formsubmit.co/info@centerforlife.nl" method="POST" class="space-y-8">
      	  <div>
  				  <label for="email" class="block mb-2 text-sm font-medium dark:text-gray-300 text-[#0f6dbf]">Email</label>
  				  <input type="email" id="email" name="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Plaats hier je email" required>
  				</div>
  				<div>
  				  <label for="subject" class="block mb-2 text-sm font-medium  dark:text-gray-300 text-[#0f6dbf]">Onderwerp</label>
  				  <input type="text" name="onderwerp" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Plaats onderwerp hier" required>
  				</div>
					<div>
  				  <label for="subject" class="block mb-2 text-sm font-medium  dark:text-gray-300 text-[#0f6dbf]">Naam</label>
  				  <input type="text" name="naam" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Plaats hier het bericht" required>
  				</div>
					<div>
  				  <label for="subject" class="block mb-2 text-sm font-medium  dark:text-gray-300 text-[#0f6dbf]">Bericht</label>
  				  <textarea name="bericht" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Plaats hier het bericht" required></textarea>
  				</div>
					<input type="hidden" name="_subject" value="contactformulier_bericht">
					<button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-[#0f6dbf] sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Verstuur bericht</button>
  			</form>
  		</div>
		</section>	
	</main>
	<Footer />
</Layout>
<style>
</style>