---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="flex justify-center items-center">
			<div class="xl:w-[40vw] w-[80vw] py-10">
				<h1 class="text-4xl text-[#0f6dbf]">Vaak gestelde vragen</h1>
				<br>
				<ol>
					<li class="list-decimal">
						<p><b class="text-[#0f6dbf]">Voor wie is deze yoga geschikt?</b></p>
						<p>Bij Center for Life werken we met de Kaiut Yoga Methode. Een yogavorm die ontwikkeld is door Francisco Kaiut. Hannah heeft bij Francisco Kaiut de volledige teacher training en andere bijscholing gevolgd. 
De Kaiut Yoga Methode geeft je de handvatten om de natuurlijke gezondheid van het lichaam te herstellen. Elk lichaam streeft naar gezondheid, altijd. Kaiut Yoga ondersteunt dit zelfhelende vermogen. Het is een yogavorm voor elk lichaam, voor iedereen, van iedere leeftijd. 
Kaiut Yoga is speciaal ontwikkeld voor de moderne mens die veel zit, veel denkt en veel spanning ervaart. Er zitten topsporters en ouderen met beperkingen in dezelfde les. Iedereen werkt op zijn eigen niveau. Het is een yogavorm voor elk lichaam, voor iedereen, van iedere leeftijd. Dat maakt Kaiut Yoga voor iedereen, in welke staat dan ook, mogelijk. Volg een proefles en je begrijpt wat ik bedoel!
</p>
					</li>
					<br>
					<li class="list-decimal">
						<p><b class="text-[#0f6dbf]">Welke Yoga Materialen heb ik nodig?</b></p>
						<p>We gebruiken een mat, bolster, riem en blok, zie foto.</p>
						<p>Heb je twijfels of je wel de juiste materialen hebt?</p>
						<p>Dit is wat je nodig hebt, met een mogelijk alternatief:</p>
						<p>Zorg dat je een bolster aanschaft met katoen / kapok erin en niet met boekweitdoppen, want deze laatste geeft te weinig steun. De juiste bolster kan je <a href="">hier</a> bestellen. Kies zelf je favoriete kleur. </p>
					</li>
					<br>
					<li class="list-decimal">
						<p><b class="text-[#0f6dbf]">Welke scholing en vaardigheden heeft Hannah zich eigen gemaakt?</b></p>
						<p>Om haar kennis en ervaring te verdiepen, heeft Hannah meerdere opleidingen, cursussen en individuele trajecten gevolgd. </p>
						<br>
						<p>- Opleidingen: DRU Yoga Docentenopleiding (4 jaar), KAIUT Yoga Docentenopleiding (400 uur), Zen Shiatsu Therapie (4 jaar), Westerse Medische Basisopleiding bij de HVNA en bij Academie Qing Bai (2 jaar),</p>
						<br>
						<p>- Vakinhoudelijke medische en therapeutische bijscholingen en persoonlijk werk in binnen- en buitenland: Academie voor Oosterse Geneeswijze Qing Bai, Zen Shiatsu School, IOKAI School van sensei Masunaga in Tokio (Japan), Paul Lundberg (Spanje), Suzanne Yates (UK), Martine Cornelissen, Nick Pole, Bentinho Massaro, Fons Delnooz, Jacqueline Hobbs, Con Amore, Maartje Huibers, Inge Maassen</p>
					</li>
					<br>
					<li class="list-decimal">
						<p><b class="text-[#0f6dbf]">Kan ik persoonlijk met Hannah kennis maken voorafgaand aan een proefles?</b></p>
						<p>Ja, dat kan! En dat wil Hannah ook graag met jou. Daarom is er altijd telefonisch of via zoom een gesprekje om kennis te maken en om te kijken hoe Hannah jou het beste kan begeleiden tijdens de les.</p>
					</li>
					<br>
					<li class="list-decimal flex flex-col md:flex-row">
						<div>
							<p><b class="text-[#0f6dbf]">Hoe werkt de Kauit Live Online via ZOOM?</b></p>
							<p>Ga met je telefoon, ipad, laptop of PC naar een rustige plek waar je een yogamat kwijt kan en doe het volgende:</p>
							<ol class="list-decimal ml-4">
								<li>ga naar www.zoom.com (en indien nodig, download zoom)</li>
								<li>druk rechts bovenin op “join”, je gaat dan naar “join a meeting” scherm</li>
								<li>vul het ID en password in dat je via de mail hebt gekregen na het afsluiten van je abonnement</li>
								<li>registreer jezelf met je naam (dit is belangrijk ivm de veiligheid van iedereen in de les; als ik je niet kan herkennen wordt je uit de les verwijderd) </li>
								<li>vervolgens kom ik in beeld of je ziet een zwart vlak met mijn naam</li>
								<li>het is belangrijk dat je je video aanzet zodat ik je persoonlijk optimaal kan begeleiden, zorg dat je helemaal in beeld bent, zie afbeelding hiernaast. </li>
								<li>let op dat er door het microfoon - symbool  (links onderin het zoom scherm) een rode streep staat, anders hoort iedereen jou. In principe is dat vanaf het begin goed ingesteld. Kom je er niet uit, bel mij of stuur me een whatsapp-bericht op 06-43154080 (dit kan tot 5 min voordat de les begint).</li>
							</ol>
						</div>
						<img src="materialenles.png" alt="" class="object-contain mr-10 w-[60vw]">
					</li>
				</ol>
				
			</div>
		</section>
		<Footer />	
	</main>
</Layout>

<style>
</style>