---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col justify-center items-center">
		<h1 class="text-4xl m-4">Hannah</h1>
		<div class="w-[80vw]">
			<section class="flex xl:gap-4 flex-col xl:flex-row items-center">
				<div class="xl:max-w-[40vw]">
					<p>Hannah: ”Life is an Amazing Gift, laat het alsjeblieft niet nodig zijn dat je eerst (bijna) moet sterven om je leven te leven. Leef je leven wanneer je leeft, en laat je leven los wanneer je sterft.”</p>
					<br>
					<p><i>Cliënt: “Hoe ongemakkelijk ik me soms ook voel over mijn eigen situatie, Hannah blijft liefdevol, oordeelloos en met medeleven naar me kijken. Na elke afspraak heb ik weer helderheid en weet ik wat me te doen staat om verder te komen.”</i></p>
					<br>
					<p>Hannah heeft rechten gestudeerd, is docent, is bijna 20 jaar yogadocent, heeft jarenlang mensen begeleid in haar shiatsupraktijk en heeft 25 jaar ervaring met bewustzijnswerk, emotioneel werk en lichaamswerk. Haar eigen levenservaring en persoonlijke ontwikkeling zorgt ervoor dat ze een heldere, praktische kijk heeft op het leven. Van hieruit begeleidt zij mensen om met hun voeten stevig in de aarde hun levenspad te bewandelen.</p>
					<p><i>Hannah: “Je kunt je nog zoveel spiritueel ontwikkelen, maar als je het niet praktisch kan toepassen, heb je er niets aan.”</i></p>
					<br>
					<p>Om haar werk(wijze) te verfijnen en haar inzicht en intuïtie te vergroten is zij continu bezig met verdieping en eigen begeleiding. Hierdoor is Hannah snel in staat de kern te zien waar het om draait. Om haar missie helder te houden en haar kennis en ervaring te verdiepen, heeft zij meerdere cursussen, opleidingen en individuele trajecten gevolgd.</p>
					<br>
				</div>
				<img src="/11_hannah_rode_blouse.jpg" alt="" class="xl:w-[40vw] rounded-lg my-2 object-contain">	
			</section>
			<ul class="max-w-[40vw]">
				<li><b>Opleidingen: DRU Yoga Docentenopleiding (4 jaar), KAIUT Yoga Docentenopleiding (400 uur), Zen Shiatsu Therapie (4 jaar), Westerse Medische Basisopleiding bij de HVNA en bij Academie Qing Bai (2 jaar),  </b></li>
				<li><b>Vakinhoudelijke medische en therapeutische bijscholingen en persoonlijk werk in binnen- en buitenland: Academie voor Oosterse Geneeswijze Qing Bai, Zen Shiatsu School, IOKAI School van sensei Masunaga in Tokio (Japan), Paul Lundberg (Spanje), Suzanne Yates (UK), Martine Cornelissen, Nick Pole, Bentinho Massaro, Fons Delnooz, Jacqueline Hobbs, Con Amore, Maartje Huibers, Inge Maassen</b></li>
			</ul>	
		</div>
		<div class="flex py-10 justify-center mt-4 w-full bg-[#007ab5]">
			<div class="ml-embedded" data-form="OXadBd"></div>
		</div>
	</main>
</Layout>

<style>
</style>