---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col justify-center items-center">
		<div class="w-[80vw]">
			<section class="flex mb-10 xl:gap-4 flex-col xl:flex-row items-center">
				<div class="xl:max-w-[40vw]">
					<h1 class="text-4xl my-10 text-[#0f6dbf]" >Hannah</h1>
					<p><strong>Hannah:</strong> <i>”Life is an Amazing Gift.”</i> En om van het leven te kunnen genieten is je gezondheid het belangrijkste instrument.</p>
					<br>
					<p>Ook jouw gezondheid kan heel veel beter. <strong>Hannah Mutsaerts</strong> heeft door haar bijna-doodervaring en andere indringende levenservaringen geleerd hoe belangrijk het is om goed voor jezelf te zorgen. Ontspannen zijn, een rustig hoofd hebben, stevig verankerd zijn in je lichaam, dit alles vergroot je levensvreugde enorm. Klinkt logisch, maar hoe doe je dat?</p>
					<br>
					<p>Hannah heeft rechten gestudeerd, is docent, is bijna 20 jaar yogadocent, heeft jarenlang mensen begeleid in haar shiatsupraktijk en heeft 25 jaar ervaring met bewustzijnswerk, emotioneel werk en lichaamswerk. Haar eigen levenservaring, persoonlijke ontwikkeling, zuivere spiritualiteit en uitgebreide werk aan haar eigen gezondheid zorgt ervoor dat ze een heldere, praktische kijk heeft. Van hieruit begeleidt zij mensen om de kwaliteit van het leven te vergroten.</p>
					<br>
					<p><strong>Hannah:</strong> <i>“Je kunt je nog zo spiritueel ontwikkelen, maar als je lijf niet gezond is en je kan het niet praktisch in je leven toepassen, heb je er niets aan.”</i></p>
					<br>
					<p>Om haar werk(wijze) te verfijnen en haar kennis, inzicht en intuïtie te vergroten is zij continu bezig met verdieping en eigen begeleiding.</p>
				</div>
				<img src="/hannahmain.jpg" alt="" class="xl:w-[40vw] rounded-lg my-4 object-contain">	
			</section>
		</div>
		<Footer />	
	</main>
</Layout>

<style>
</style>