---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro';
const hannahImage = '/foto_peggy.jpg'
const yogaImage = '/7_yoga_armen_omhoog.jpg'
const programmaImage = '/12_arashiyama-bamboo-grove.jpg'
const eventsImage = '/1_Moodz-Spa-Resort_zwembad_boven.jpg'
---

<Layout title=''>
	<main>
		<section class="flex items-center">
			<div class="flex flex-col sm:flex-row text-blue-700 h-[90vh] w-screen relative">
				
				<div class="relative h-1/2 sm:w-1/2 sm:h-full order-3">
        	<img src="shiatsu2.jpg" alt="Shiatsu Image" class="object-cover h-full w-full filter brightness-[0.75]">
        	<div class="absolute inset-0 flex items-center justify-center">
						<a href="/shiatsu" class=" text-white py-2 px-4 text-4xl rounded-lg hover:text-5xl transition-all duration-500">
      	  	  Ga naar Shiatsu
       		 	</a>
        	</div>
      	</div>
				
				<!-- White Line -->
				<div class="w-full h-1 sm:w-1 sm:h-full bg-white order-2"></div>  
				
				<div class="relative h-1/2 sm:w-1/2 sm:h-full order-1">
    	    <img src="/studio_velp_website.png" alt="Shiatsu Image" class="h-full object-cover w-full brightness-[0.75]">
     		  <div class="absolute inset-0 flex items-center justify-center">
					<a href="/yoga_algemeen" class=" text-white py-2 px-4 text-4xl rounded-lg hover:text-5xl transition-all duration-500">
        	  Ga naar Yoga
        	</a>
        </div>

			</div>
			<div id="cookieWrapper" class="hidden bg-[#f7f7f7] fixed bottom-5 left-5 max-w-[300px] w-[50vw] flex flex-col items-center border p-4 rounded-2xl">
				<img src="cookie.png" alt="couldn't load img" class="w-[30%]">
				<div class="flex flex-col gap-2">
					<header class="text-xl">Cookies Consent</header>
					<p class="text-sm text-gray-600">This website use cookies to ensure you get the best experience on our website</p>
					<div class="flex gap-2 items-center">
						<button class="border p-2" id="cookieBtn">I understand</button>
					</div>
				</div>
			</div>
		</section>
	
	</main>
</Layout>

<script>
	const cookieBox = document.getElementById('cookieWrapper');
	const acceptBtn = document.getElementById('cookieBtn')

	acceptBtn.onclick = () => {
		document.cookie = "CookieBy=Centerforlife; max-age="+60*60*24*30
		if (document.cookie) {
			cookieBox.classList.toggle('hidden')
		} else {
			alert("Cookie can't be set!")
		}
	}
	if (!document.cookie) {
		cookieBox.classList.toggle('hidden')
	}
	
</script>