---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col justify-center items-center">
		<h1 class="text-4xl m-4 mb-10">Live your life programma</h1>
		<div class="flex flex-col gap-4">
			<section class="w-[100vw] py-10 flex flex-col items-center xl:flex-row xl:justify-center gap-4 bg-[#f7f7f7]">
				<div class="xl:w-[40vw] w-[80vw]">
					<p>Dus stop met zoveel moeten, continu te streven naar succes en verlangen naar meer en beter. Neem een pas op de plaats, sta stil, kom naar binnen en leer weer voelen wie jij bent en waarom jij uniek bent. Het leven is bedoeld om lief te hebben, mee te spelen, op te vertrouwen, van te genieten en dat alles op JOUW manier. </p>
					<br>	
					<p>Het is mijn levensmissie anderen te laten beseffen dat ze helemaal zichzelf mogen zijn. Als ik kijk naar de hoeveelheid mensen in mijn praktijk en yogagroepen die zichzelf voorbij rennen, geen energie hebben, weinig levensvreugde ervaren, niet weten waar hun passies en talenten liggen, continu in dezelfde dingen vastlopen of afgedwaald zijn van hun eigen kern, dan raakt mij dat. Na de vraag: “Wil jij dit werkelijk?” is de ander vaak stil. En stilte zegt soms meer dan 1000 woorden.</p>
					<br>
					<p><b>Leven zelf is het grootste cadeau</b></p>
					<p>Het Leven zelf is het allergrootste cadeau wat je in dit leven krijgt. Hannah weet hoe het is als het ineens van je afgepakt wordt. Daarom is zij zo gedreven om zelf en anderen het leven met twee handen aan te pakken, angsten te overwinnen, lief te hebben, ervan te genieten. </p>
					<br>
				</div>
				<img src="/13_Vrouw-natuur.jpg" alt="" class="xl:w-[40vw] w-[80vw] rounded-lg">	
			</section>
			<section class="w-[100vw] py-10 items-center flex flex-col xl:flex-row xl:justify-center gap-4">
				<div class="xl:order-last xl:w-[40vw] w-[80vw]">
					<p><b>Hoe leef jij <i>jouw leven</i> op <i>jouw</i> manier? Door het programma… </b></p>
					<ul>
						<li>- sta jij (weer) op de <b> eerste plek</b></li>
						<li>- zijn je <b>diepe verlangen en drijfveren duidelijk</b> voor je</li>
						<li>- buig je beperkende gedachten en emoties om in <b> ondersteunende gedachten en emoties</b></li>
						<li>- doe wat <b>belangrijk </b> voor je is</li>
						<li>- doe je wat <b>belangrijk</b> voor je is</li>	
						<li>- herken jij je <b> kwaliteiten en pas je ze toe</b></li>
						<li>- leef je vanuit jouw <b>wijsheid en intuïtie</b></li>
						<li>- ervaar je <b>(zelf)liefde</b></li>
						<li>- ben je <b> gezond, fit en soepel</b> (met name in de <b> overgang</b>)</li>
						<li>- heb je <b> goede energie</b> en voel jij je <b>ontspannen</b></li>
						<li>- ben je stevig <b>verankerd in je lijf</b> in plaats van je hoofd</li>
						<li>- heb je <b>voldoening</b> in je leven</li>
					</ul>
					<p>Misschien denk je nu: <i><b>“Hoe dan?”</b></i></p>
					<p>Ook jij weet diep van binnen wat voor jouw leven belangrijk is. Maar misschien heb je het al zo vaak weggedrukt dat je niet meer weet wat het is, laat staan dat je weet hoe. Hier leer je de juiste stappen te zetten zodat wanneer je 90 bent je met voldoening en vreugde terugkijkt op jouw leven.</p>
					<br>
					<p>Wanneer je weet waar je hart sneller van gaat kloppen, waar je kwaliteiten liggen, wat jou beperkt, wanneer je links- of rechtsaf moet slaan, hoe je ontspannen en gezond kan blijven, hoe je jezelf onvoorwaardelijk kan liefhebben, hoe je met je voeten op de grond blijft, en waar je diep van binnen blij van wordt, <b> leef jij JOUW LEVEN!</b></p>
					<br>
					<p><b>De manier van werken is praktisch:</b></p>
					<ul>
						<li>- een jaar lang begeleid ik jou bij het vormgeven en actief (be)leven van <i> jouw leven</i></li>
						<li>- stap voor stap komen bovenstaande punten aan bod door middel van 1 op 1 sessies</li>
						<li>- er is sprake van maatwerk afgestemd op jouw situatie</li>
						<li>- je ontvangt uitgewerkte overzichten met tips en tricks om on track te blijven</li>
						<li>- wekelijks zijn er yogalessen waaraan je onbeperkt kunt deelnemen en waarin bovenstaande punten aan bod komen</li>
						<li>- er is een buddy systeem waarbij je met elkaar je ervaringen en vorderingen kan delen</li>
						<li>- tijdens de retraite duik je nog dieper in jouw ware leven waar je diep van binnen naar verlangt</li>
					</ul>
					<br>
					<p class="my-4"><i>Hannah: “Je bent hier voor een reden, namelijk om met vreugde jouw kwaliteiten in de wereld te zetten en om jezelf lief te hebben zodat je de veiligheid voelt om de ander lief te hebben.”</i></p>
				</div>
				<img src="/14_beach-beestje_portrait_oranjeblauw.jpg" alt="" class="xl:w-[40vw] w-[80vw] rounded-lg">	
			</section>	
		</div>
		<form action="https://formsubmit.co/info@centerforlife.nl" onsubmit="proeflessubmit()" class="space-y-8 border p-4 rounded w-[80vw] xl:w-[40vw]">
			<h2 class="text-xl">Meer weten?</h2>
			<p>Laat uw gegevens achter en dan krijgt u een email wanneer er meer informatie over hte programma vrijkomt</p>
      <div>
  		  <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email</label>
  		  <input type="email" id="email" name="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Plaats hier uw email" required>
  		</div>
  		<div>
  		  <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Naam</label>
  		  <input type="text" name="naam" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Plaats hier uw naam" required>
  		</div>
			<input type="hidden" name="_next" value="https://yourdomain.co/thanks.html">
			<input type="hidden" name="_subject" value="aanmelding_programma">
			<button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-orange-500 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Verstuur bericht</button>
  	</form>
		<div class="flex py-10 justify-center w-full mt-4 bg-[#007ab5]">
			<div class="ml-embedded" data-form="OXadBd"></div>
		</div>
	</main>
</Layout>

<style>
</style>