---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col justify-center items-center">
		<div class="flex flex-col gap-4">
			<section class="w-[100vw] flex flex-col items-center xl:flex-row xl:justify-center gap-10">
				<div>
					
				</div>
				<div class="xl:w-[40vw] w-[80vw]">
					<h1 class="text-4xl my-10 text-[#0f6dbf]">Zen Shiatsu</h1>
					<p class="text-[#0f6dbf]">Wat is Shiatsu?</p>
					<p>Shiatsu is onderdeel van de Oosterse Geneeswijze en wordt al duizenden jaren toegepast om verstoringen van de levensenergie (ki) in het lichaam weer in balans te brengen. Er kunnen stagnaties van ki zijn ontstaan (vb. gewrichtsklachten, hoofdpijn of constipatie) , of een tekort aan ki (vb. niet goed doorslapen, koude handen en voeten, slechte vertering). <span class="font-bold">Door de ki in beweging te brengen en de balans daarin te verbeteren wordt het lichaam vitaler, verminderen of verdwijnen ziektes en klachten en komen mensen lekkerder in hun vel te zitten.</span>  Hoe de behandeling uitpakt en hoe vaak je moet komen, is per persoon en per klacht verschillend. </p>
					<br>
					<p class="text-[#0f6dbf]">Voorbeeld van klachten die worden behandeld met shiatsu: </p>
					<ul class="ml-4">
						<li class="list-disc">nek- en schouderklachten</li>
						<li class="list-disc">hoofdpijn / migraine</li>
						<li class="list-disc">spanning / prikkelbaarheid</li>
						<li class="list-disc">ademhalingsproblemen</li>
						<li class="list-disc">slaapproblemen</li>
						<li class="list-disc">stress / burnout</li>
						<li class="list-disc">teveel koude of hitte</li>
						<li class="list-disc">spijsverteringsklachten</li>
						<li class="list-disc">menstruele verstoringen</li>
						<li class="list-disc">voor en na een bevalling</li>
						<li class="list-disc">vermoeidheid</li>
						<li class="list-disc">emotionele verstoringen: hannah is in staat om op een diepe liefdevolle manier emoties te transformeren die je op dit moment belemmeren stappen te zetten of waardoor je vast blijft zitten in het verleden</li>
					</ul>
					<br>
					<p><b>SHIATSU</b></p>
<p>De shiatsu die gegeven wordt is Zen Shiatsu, een Japanse vorm van drukpunt- en meridiaantherapie met een holistische benadering. Holistisch wil zeggen dat naar de mens als geheel gekeken wordt: lichaam, denken, voelen.<br>
Vaak blijkt dat aan verschillende klachten dezelfde oorzaak ten grondslag ligt.<br>
Zo is het niet raar als je darmklachten hebt, je vaak rond 5 uur ’s ochtends wakker wordt en je met je kiezen of tanden knarst of moeite hebt met het loslaten van emoties.</p>
<br>
<p>Zen Shiatsu wordt vaak gecombineerd met <i>Chi Nei Tsang (CNT)</i>. Dit is diepe orgaanmassage in de buik. Dit is een bijzonder mooie aanvulling. Waarom?<br>
<br>Er kan van alles gebeuren in je leven waardoor energie blokkeert. Veel energieblokkades gaat vastzitten in de organen, met name in de buik. Dit beperkt onze levensenergie (chi) en de functie van de vitale organen. De <b>oorzaak van deze blokkades is vooral negatieve emoties en stress</b>, maar ook voeding, houding, toxines, externe invasies als ongelukken en operaties spelen een belangrijke rol.<br>
Met CNT werken we direct in de buik en op de organen in de buik om de chi in ons centrum weer in beweging te brengen.<br>
Hierdoor komt vervolgens de energie in ons fascie, andere organen, bloedvaten, zenuwbanen en lymfe ook weer in beweging.</p>
<br>
<p>Het is een aanraking van lichaam, gedachten / overtuigingen en emoties met als resultaat meer gezondheid en een vergroot bewustzijn.<br>
Dit maakt ons als mens vriendelijker, vrolijker, liefdevoller, eerlijker, moediger, wijzer en verantwoordelijker. Wat een verrijking. Hannah heeft zelf de opleiding CNT als heel voedend, helend en verdiepend ervaren, niet alleen als therapeut, maar ook als mens.</p> <br>

<p><b>Voor het maken van een afspraak</b> stuur een email naar <a href="mailto:info@centerforlife.nl">info@centerforlife.nl</a>.<br>
Neem bij twijfel, vragen of mogelijkheden contact op.</p>
<br>
<p>Hannah komt vanuit Portugal naar Velp om shiatsu te geven.<br>
Dit maakt het aantal weken beperkter, maar twijfel niet om een afspraak te maken.</p>

					<a class="hidden" href="https://centerforlife.clientomgeving.nl/afspraak-maken?"><button class="border rounded-lg p-1 mb-4 bg-[#0f6dbf] text-white hiden">Maak hier een afspraak</button></a>
				</div>
				<div class="xl:w-[40vw] w-[80vw]">
					<img src="/shiatsu1.jpg" alt="" class="xl:w-[40vw] w-[80vw] rounded-lg mb-4">
				</div>
			</section>
			<section class="w-[100vw] py-10 flex flex-col items-center xl:flex-row xl:justify-center gap-10 mb-10 bg-blue-100">	
				<div class="xl:w-[40vw] w-[80vw]">
					<p class="text-[#0f6dbf]">Moxa Therapie</p>
					<p>Moxa therapie wordt binnen de Oosterse Geneeswijze gebruikt vanwege haar verwarmende werking en het versterken van de stroom van de levensenergie (ki).</p>
					<br>
					<p>Moxa is de Chinese naam voor bijvoetkruid wat wordt toegepast om oa gewrichtsklachten (blessures) en spijsverteringsproblemen te doen verminderen, om het lichaam te versterken in geval van zware vermoeidheid, burnout en na zwangerschap en bevalling.</p>
					<br>
					<p>Een belangrijke toepassing van moxa is het draaien van een baby bij stuitligging, en het op gang brengen en versoepelen van de bevalling. Hannah heeft hier succesvolle ervaring mee. Voor haar eigen bevallingen heeft zij de cursus Hypnobirthing gevolgd, waardoor zij zwangeren met waardevolle tips de deur uit laat gaan.</p>
					<br>
					<p>Op de foto zie je een voorbeeld van een zwarte moxa sigaar. Hannah werkt ook met losse moxa in de vorm van okyu en cones. Moxa wordt binnen de praktijk altijd toegepast als aanvulling op een shiatsu behandeling.</p>
					<br>
					<p><b>Voor het maken van een afspraak stuur een email naar info@centerforlife.nl</b></p>
					<br>
					<p>In 2025 ben ik de komende weken in Nederland om Shiatsu te geven:<br> 2 - 6 juni en 23 - 27 juni / 7 - 12 sept / 6 okt - 10 okt / 10 - 14 nov / 8 -12 dec</p>
					<a href="https://centerforlife.clientomgeving.nl/afspraak-maken?"><button class="border rounded-lg p-1 mb-4 bg-[#0f6dbf] text-white hidden">Maak hier een afspraak</button></a>
					<br>
				</div>
				<div class="xl:w-[40vw] xl:order-first w-[80vw]">
					<img src="/moxa.jpg" alt="" class="xl:w-[40vw] w-[80vw] rounded-lg">
				</div>
			</section>
			<section class="w-[100vw] py-10 items-center flex flex-col xl:flex-row xl:justify-center gap-10">	
				<div class="xl:w-[40vw] w-[80vw]">							
					<p class="text-[#0f6dbf]">Begeleiding</p>
					<p>Soms wil je niet op yogales komen, en weet je niet of zen shiatsu wel het juiste is, maar ervaar je wel dat je vast zit, niet lekker in je vel zit of verward bent. Een gesprek kan dan al veel duidelijkheid geven.</p>
					<br>
					<p>Door Hannah’s verfijnde manier van werken en haar sterke intuïtie is elke vorm begeleiding helemaal afgestemd op jou. Jij bent niet degene die moet passen in een behandelmethode, het is de methode die zich aanpast aan jou.</p>
					<br>
					<p class="text-[#0f6dbf]">Voorbeeldsituaties voor individuele begeleiding zijn: </p>
					<ul class="ml-4">
						<li class="list-disc">steeds weer in dezelfde (negatieve) patronen terecht komen</li>
						<li class="list-disc">onverklaarbaar emotioneel zijn</li>
						<li class="list-disc">niet weten wat voor jou belangrijk is in het leven, onduidelijkheid over wat je hier komt doen</li>
						<li class="list-disc">verlies van een dierbare / relatie / situatie</li>
					</ul>
					<br>
					<p>Hannah heeft veel ervaring met mensen die <span class="font-bold">energetisch verdwaald</span> zijn of een verstoorde energetische huishouding hebben, dat wil zeggen dat jij je heel ijl kan voelen, beroerd wordt van grote groepen mensen, ineens heel moe of beroerd wordt van specifieke personen of plaatsen, en andere soortgelijke situaties. Binnen een paar behandelingen kan hier een grote verbetering in ontstaan.</p>
					<br>
					<p>Omdat Hannah veel ervaring heeft met de <span class="font-bold">dood</span>, zowel om haar heen als haar eigen bijna dood ervaringen en het doorstaan van zware ongevallen, is het voor mensen die weten dat ze ongeneeslijk ziek zijn, weten dat ze gaan sterven en angstig zijn voor de dood een enorme opluchting om met Hannah een afspraak te maken. Meerdere mensen zijn na één of twee gesprekken zeer vredig het stervensproces ingegaan.</p>
					<br>
					<p>Wil je eerst overleggen of een afspraak zinvol is? Voel je vrij om Hannah te bellen.</p>
					<br>	
				</div>
				<div class="xl:w-[40vw] w-[80vw]">
					<img src="/shiatsu_buik_50.jpg" alt="" class="xl:w-[40vw] w-[80vw] rounded-lg">
				</div>
			</section>
			<section class="w-[100vw] py-10 items-center flex flex-col xl:flex-row xl:justify-center gap-10 bg-blue-100">
				<div class="xl:order-last xl:w-[40vw] w-[80vw]">
					<p class="text-[#0f6dbf]">Details en Kosten</p>
					<p>Maak een afspraak door een e-mail te sturen naar info@centerforlife.nl of vul het contactformulier in op de website. Laat je telefoonnummer achter, dan neem ik contact met je op. Dank je wel.</p>
					<br>
					<p class="text-[#0f6dbf]">Kosten</p>
					<p>Een standaard behandeling is 60 minuten en kost € 78,-. <br>De intake is 90 minuten en kost € 108,- .</p>
					<p>Per 15 minuten gaat er €10 van de €78 af of komt het erbij, mocht de behandeling langer of korter duren.</p>
					<p>Door meerdere behandelingen te boeken binnen een bepaalde periode krijg je korting.</p>
					<br>
					<p>Omdat ik lid ben van de beroepsvereniging Shiatsu Vereniging Nederland, krijg je, indien je aanvullend bent verzekerd, meestal €45-50 vergoed per behandeling. Kijk voordat je komt bij je verzekeraar wat je vergoed krijgt.​</p>
					<br>
					<p class="text-[#0f6dbf]">Betaling</p>
					<p>Aan het einde van de behandeling betaal je contant of via een betaalverzoek. De factuur krijg je binnen een paar dagen na de behandeling via de mail toegestuurd en kun je indienen bij de verzekeraar.</p>
					<br>
					<p><b>Voor het maken van een afspraak stuur een email naar info@centerforlife.nl</b></p>
					<a href="https://centerforlife.clientomgeving.nl/afspraak-maken?"><button class="border rounded-lg p-1 mb-4 bg-[#0f6dbf] text-white hidden">Maak hier een afspraak</button></a>
				</div>
				<div class="xl:w-[40vw] w-[60vw]">
					<img src="/shiatsu1_website.png" alt="" class="xl:w-[30vw] w-[80vw] rounded-lg">
				</div>
			</section>
			<section class="w-[100vw] py-10 items-center flex flex-col xl:flex-row xl:justify-center gap-10">
				<div class="xl:w-[40vw] w-[80vw]">
					<p class="text-[#0f6dbf]">​Aan doen / meenemen</p>
					<ul class="ml-4">
						<li class="list-disc">loszittende kleding en sokken (ook in de zomer)</li>
						<li class="list-disc">zie overige informatie</li>
					</ul>
					<br>
					<p class="text-[#0f6dbf]">Overige informatie</p>
					<p>Om je zo goed mogelijk te begeleiden, vraag ik je voorafgaand aan de behandeling bijzonderheden door te geven. Mochten er meerdere aspecten zijn die je graag aandacht wil geven, schrijf ze op een briefje en neem dat mee. Je ontvangt bij de eerste behandeling een behandelovereenkomst, deze sluiten we af omdat dit opgevraagd kan worden door de verzekeraars. Dit is een wettelijk vereiste en een teken van goede zorg. </p>
					<p>Ik probeer altijd een behandeling zo goed mogelijk binnen 60 minuten af te ronden, maar soms komt het voor dat er iets extra tijd nodig is om een behandeling goed af te ronden. Dit kan bij jou gebeuren, maar ook bij iemand anders. Indien je even moet wachten, alvast bedankt voor je geduld.</p>
					<br>
					<p>In het contact met mijn cliënten gelden de bepalingen, beroepscode en klacht- en tuchtregeling van de SVN, SCAG en RBCZ.</p>
					<br>
					<p>Eventuele gegevens voor de verzekeraar: </p>
					<p>AGB-code: 90102718 / AGB-praktijkcode: 90062142</p>
					<p>Shiatsu Vereniging Nederland nr: 2018035</p>
					<p>RBCZ nr: 912204R</p>
					<p>SCAG nr: 18033</p>
					<p>KvK nr: 56022956</p>
				</div>
				<div class="xl:w-[40vw] w-[60vw]">
					<img src="/shiatsu2_website.png" alt="" class="xl:w-[30vw] w-[80vw] rounded-lg mb-4">
				</div>
			</section>
			<div class="w-[80vw] flex justify-around">
					<img src="logoRBCZ.jpg" class="w-[20%]" alt="">
					<img src="logoSVN.jpg" class="w-[20%]" alt="">
				</div>
		</div>
  	 
	</main>
<Footer />
</Layout>