---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col justify-center items-center">
		<div class="flex flex-col gap-4">
			<section class="w-[100vw] flex flex-col items-center xl:flex-row xl:justify-center gap-10">
				<div class="xl:w-[40vw] w-[80vw]">
					<h1 class="text-4xl my-10 text-[#0f6dbf]">Yoga</h1>
					<p> Ieder lichaam streeft naar gezondheid, altijd, ook jouw lijf. Je hebt een gezond lichaam nodig om vreugdevol met voldoening jouw leven te leven. Alles staat of valt met je gezondheid. <br>Door yoga te volgen bij Center for Life wordt jij je er weer bewust van dat je lichaam je belangrijkste instrument is, leer je te voelen wat je lichaam nodig heeft en hoe jij de gezondheid van je lichaam praktisch ondersteunt.</p>
					<br>
					<p>Hannah zet als zeer ervaren senior yogadocent <strong>Qi gong, de Kaiut Yoga Methode en werken met het fascie in.</strong> Daarnaast zorgt haar grote mate van <strong>bewustzijn</strong> voor een enorme diepgang in de lessen. <em>Qi gong</em> om de levensenergie lekker in beweging te zetten, de <em>Kaiut Methode</em> om het lichaam beter te laten functioneren naarmate je ouder wordt en <i>fasciewerk</i> om een totale integratie te laten plaatsvinden.</p>
					<br>
					<p>Dit sluit prachtig aan bij de manier waarop Hannah kijkt naar het herstellen van de natuurlijke gezondheid: een ontspannen zenuwstelsel, goede circulatie, een goed samenwerkend bewegingsapparaat (skelet, spieren en pezen), een vrij bindweefsel (fascie) en goed leren voelen en luisteren naar je lichaam, zijn volgens haar de sleutels.</p>
					<br>
					<p>Het is voor ieder mens belangrijk om dit te ervaren. Dit maakt dat Hannah’s lessen voor iedereen, in welke staat dan ook, passend zijn. Iedereen werkt op zijn eigen niveau. Het is een yogavorm voor elk lichaam, voor iedereen, van iedere leeftijd. Volg een proefles en je begrijpt wat ik bedoel!</p>
					<br>
					<p><b class="text-[#0f6dbf]">Met als resultaat dat:</b></p>
					<!-- list stijl -->
					<ul class="list-disc ml-4">
					  <li>je skelet beter uitlijnt en je houding verbetert</li>
					  <li>het hele bewegingsapparaat beter functioneert (ook de gewrichten)</li>
					  <li>het helend vermogen van het lichaam wordt ondersteund</li>
					  <li>ontspanning vergroot en spanning vermindert</li>
					  <li>je stevig verbonden raakt met je lijf (in plaats van je hoofd)</li>
					  <li>je slaap verbetert</li>
					  <li>circulatie en ademhaling verbetert</li>
					  <li>bewustzijn vergroot</li>
					  <li>je er blij van wordt!</li>
					</ul>
					<br>
					<p><strong class="text-[#0f6dbf]">Ervaring van Marieke:</strong><i>"Ik heb al veel yogadocenten gehad, maar Hannah is echt heel erg goed in wat ze doet. Ze weet precies wat er tijdens houdingen in het lichaam gebeurt en helpt mij veel beter voelen wat ik voor mijn lichaam kan doen om het beter te laten worden."</i></p>
					<br>
					<p>Tot gauw in de praktijk of op een evenement!</p>
					<br>
					<a target="_blank" href="https://buy.stripe.com/00gdRI71W9a36Nq289" class="border rounded-lg p-2 bg-[#0f6dbf] text-white">Boek een proefles</a>
					<br>
					<br>
					<p>Let op: als je een proefles in de studie wil volgen, neem dan eerst contact op met Hannah via info@centerforlife.nl aangezien veel groepen vol zitten.</p>
				</div>
				<div class="xl:w-[40vw] w-[80vw]">
					<img src="/studio_velp_website.png" alt="" class="xl:w-[37vw] w-[80vw] rounded-lg">
				</div>
			</section>
			<section class="w-[100vw] py-10 items-center flex flex-col xl:flex-row xl:justify-center gap-10 bg-blue-100">
				<div class="xl:order-last xl:w-[40vw] w-[80vw]">
					<h1 class="text-4xl mt-10 mb-10 text-[#0f6dbf]">Yoga details</h1>
					<p>Wil je meer informatie over het soort yoga en de manier van lesgeven? Lees eerst “Yoga Algemeen”.</p>
					<br>
					<p><strong class="text-[#0f6dbf]">Lesrooster:</strong></p>
					<ul>
					  <li>maandag: 19:00u Yogales</li>
					  <li>maandag: 20:30u Yogales</li>
					  <li>dinsdag: 20:00u Yogales</li>
					  <li>woensdag: 19:00u Yogales</li>
					  <li>woensdag: 20:30u Yogales</li>
					  <li>vrijdag: 09:00u Yogales</li>
					</ul>
					<br>
					<p><b class="text-[#0f6dbf]">Er zijn 4 mogelijkheden om les te volgen:</b></p>
					<ol class="list-disc ml-4">
					  <li>kom naar de studio in Velp (nabij Arnhem) en laat je begeleiden door Hannah (zie lesrooster)</li>
					  <li>thuis Live via Zoom (zie lesrooster) en laat je begeleiden door Hannah</li>
					  <li>onbeperkt, helemaal op jouw tijd, via de opgenomen lessen in de yoga-bibliotheek, hiertoe krijg je toegang als je een abonnement afsluit</li>
					  <li>kom naar de Yoga Intensive dagen om Hannah persoonlijk te ontmoeten, en je eigen yoga te verdiepen (zie Events)</li>
					</ol>
					<br>
					<p>Zo kan je wanneer je maar wil lessen volgen!</p>
					<br>
					<p><strong class="text-[#0f6dbf]">Hoe werkt de yogales online via ZOOM?</strong><br> Zie FAQ, hierin wordt in stapjes beschreven hoe je in de les komt. En kom je er niet uit, neem dan contact op.</p>
					<br>	
						
				</div>
				<img src="/9_20220823_215651 (1).jpg" alt="" class="xl:w-[40vw] w-[80vw] rounded-lg">
			</section>
			<section class="w-[100vw] flex flex-col items-center xl:flex-row xl:justify-center gap-10">
				<div class="xl:w-[40vw] w-[80vw] py-10">
					<p><strong class="text-[#0f6dbf]">Proefles</strong><br> Wil je eerst kennis maken? Je bent van harte welkom!</p>
					<p>Omdat Kaiut Yoga een diepwerkende yogavorm is, raad ik je aan om 3 proeflessen te boeken. De eerste keer is voor de meeste mensen zo nieuw, dat ze vaak nog niet de volle potentie van de lessen kunnen ervaren.</p>
					<br>
					<p>Omdat ik het persoonlijke aspect van yogales erg belangrijk vind, en ik het fijn vind om over en weer kennis te maken, heb ik met iedereen een kort kennismakingsgesprek voorafgaand aan de eerste les. Hierdoor kan je mij vertellen waar je behoefte aan hebt en weet ik hoe ik je het beste kan begeleiden. Heb je een proefles geboekt, dan neem ik contact met je op. Leuk jou te ontmoeten!</p>
					<br>
					<a target="_blank" href="https://buy.stripe.com/00gdRI71W9a36Nq289" class="border rounded-lg p-2 bg-[#0f6dbf] text-white">Boek een proefles</a>
					<br>
					<br>
					<p>
Wat geweldig dat je een proefles wil boeken! Voordat je deze betaalt via deze link, stuur even een mail naar info@centerforlife.nl wanneer er nog plek is, want de meeste groepen ziten vol. Dan kijken we samen wat mogelijk is.
Dank je wel! <br> Groet, Hannah</p>
					<br>
					<p><strong class="text-[#0f6dbf]">Maand Abonnement</strong><br> Zijn de proeflessen goed bevallen, dan sluit je een maand abonnement af. <br>Kom je naar de studio? Dan sluit je via Hannah een abonnement af. <br>Wil je graag online meedoen: sluit hier je maandabonnement af:</p>
					<a target="_blank" href="https://buy.stripe.com/bIY3d4fys5XRdbO8wA"><button class="border rounded-lg my-4 p-2 bg-[#0f6dbf] text-white">Maand abonnement afsluiten</button></a>
					<br>
					<p><strong class="text-[#0f6dbf]">Prijzen vanaf 1 Januari 2025:</strong></p>
					<ul class="list-disc ml-4">
					  <li>maandabonnement onbeperkt live online les en toegang tot de lesbibliotheek: €48</li>
					  <li>maandabonnement 1 x per week les in de studio en onbeperkt online les en toegang tot de lesbibliotheek: €58</li>
					</ul>
					<p>Als je geen maandabonnement afsluit, kost een losse les 20 euro.</p>
					<br>
					<p><strong class="text-[#0f6dbf]">Materialen die we gebruiken tijdens de les</strong><br> We gebruiken een mat, bolster, riem en blok, zie foto en zie FAQ voor details en alternatieven.</p>
					<br>
					<p><b class="text-[#0f6dbf]">Lesoverzicht 2025 studio/online:</b></p>	
					<p><b>Week van 2 juni t/m 6 juni (wk 20 t/m 23):</b><br>Maandag, dinsdag, woensdag, vrijdag: gewoon les met Hannah in de studio in Velp.</p>
					<p>ma 9 juni 2de Pinksterdag geen les</p>
					<p><b>Week 9 juni t/m 20 juni (wk 24 en 25):</b><br>Online les op de normale lestijden.<br> De studio in Velp is open, dus kom daar naartoe als je dat fijn vindt! Ik geef de les vanuit Portugal.</p>
					<p><b>Week 23 juni t/m 27 juni (wk 26):</b><br>Maandag, dinsdag, woensdag, vrijdag: gewoon les in Velp met Hannah in de studio.</p>
					<p><b>Week 30 juni t/m 11 juli (wk 27 en 28):</b><br> Online les op de normale lestijden.<br> De studio in Velp is open, dus kom daar naartoe als je dat fijn vindt! Ik geef de les vanuit Portugal.</p>
					<p><b>Vanaf 14 juli:</b> Zomervakantie!</p>
					<p>Daarna ben ik met regelmaat in Velp om les te geven. Nadere informatie volgt nog.</p>
					<br>
					<p><strong class="text-[#0f6dbf]">Meer informatie?</strong><br> Behoefte meer informatie? Behoefte aan individuele lessen? Behoefte aan yoga op andere locatie? Yoga inpassen in een workshop of retraite? Er is veel mogelijk, voel je vrij om te vragen.</p>	
					<p>Neem contact op via info@centerforlife.nl Tot bij de (online) les, de Yoga Intensives of een retraite!</p>
				</div>
				<div class="xl:w-[40vw] w-[80vw]">
					<img src="/yoga3.png" alt="" class="xl:w-[30vw] w-[80vw] rounded-lg">
			</section>
		</div>
		<Footer />	
	</main>
</Layout>

<script>
	document.getElementById('proefles').addEventListener('click', (e) => {
		proeflesSubmit(e)
	})

	document.getElementById('abbonoment').addEventListener('click', (e) => {
		abbonomentSubmit(e)
	})

	const proeflesSubmit = (e) => {
		e.preventDefault()
		window.location.href = '/'
	}

	const abbonomentSubmit = (e) => {
		e.preventDefault()
		window.location.href = '/'
	}

</script>