---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col justify-center items-center">
		<h1 class="text-4xl m-4 mb-10">Yoga</h1>
		<div class="flex flex-col gap-4">
			<section class="w-[100vw] py-10 flex flex-col items-center xl:flex-row xl:justify-center gap-4 bg-[#f7f7f7]">
				<div class="xl:w-[40vw] w-[80vw]">
					<p>Bij Center for Life maken we gebruik van de Kaiut Yoga Methode.</p>
					<ul>
						<li>Met als resultaat dat:</li>
						<li>- ontspanning vergroot en spanning vermindert</li>
						<li>- je slaap verbetert</li>
						<li>- circulatie en ademhaling verbetert </li>
						<li>- bewustzijn vergroot</li>
						<li>- je skelet beter uitlijnt en je houding verbetert</li>
						<li>- het hele bewegingsapparaat beter functioneert (ook de gewrichten)</li>
						<li>- je stevig verbonden raakt met je lijf (in plaats van je hoofd)</li>
						<li>- het helend vermogen van het lichaam wordt ondersteund</li>
						<li>- je er blij van wordt!</li>
					</ul>
					<p>Kaiut Yoga geeft je de handvatten om de natuurlijke gezondheid te herstellen. Elk lichaam streeft naar gezondheid, altijd. Kaiut Yoga ondersteunt dit proces. Dat maakt Kaiut Yoga voor iedereen, in welke staat dan ook, mogelijk. Kaiut Yoga is speciaal ontwikkeld voor de moderne mens die veel zit, veel denkt en veel spanning ervaart. Er zitten topsporters en ouderen met beperkingen in dezelfde les. Iedereen werkt op zijn eigen niveau.</p>
					<br>	
				</div>
				<img src="/8_20220320_215755.jpg" alt="" class="xl:w-[40vw] w-[80vw] rounded-lg">
			</section>
			<section class="w-[100vw] py-10 items-center flex flex-col xl:flex-row xl:justify-center gap-4">
				<div class="xl:order-last xl:w-[40vw] w-[80vw]">
					<p>We zijn zo gebrainwashed met het idee dat wanneer je net niet ziek bent, je gezond bent. Onze gezondheid kan bij iedereen wel 10x, misschien wel 100x beter! Laat dat tot je doordringen. Hoe zou je het vinden dat jouw lichaam heel veel gezonder, sterker, veerkrachtiger, rustiger, meer ontspannen is. En dat dit proces eindeloos beter kan worden. Welke mogelijkheden en vreugde zou jou dat geven? Ook aan dit aspect besteden we veel aandacht in de lessen. </p>
					<p><i><b>Hannah</b>: “Het is zo mooi om te zien dat leerlingen zich blijven verbazen over de verbeteringen die plaatsvinden, zelfs na jaren op les zitten.”</i></p>
					<p>Door haar westerse en oosterse achtergrond en de ervaring die ze heeft met het werken met veel verschillende lichamen, heeft Hannah bij honderden mensen de lichaamsfunctionaliteit zien verbeteren. Haar liefdevolle en heldere begeleiding, haar humor en eenvoud, zijn heel ondersteunend hierin.</p>
					<p><i><b>Hannah</b>: “Ik krijg vaak de vraag: “Hoe kan het voor iedereen werken?” Omdat door de manier waarop we de Kaiut Yoga Methode inzetten, we onszelf weer centreren in ons lichaam, en we het lichaam stapje voor stapje terugbrengen in haar natuurlijke staat. En die combinatie is fantastisch!” </i></p>
					<p>Door de manier van werken wordt op heel toegankelijke, zachte wijze spanning in beweging gebracht die je gedurende je leven diep in je systeem hebt opgeslagen. Hierdoor kan je lichaam op natuurlijke wijze herstellen en kan gezondheid en levensvreugde weer terugkomen. Je gaat leren voelen waar het in je lichaam wel fijn voelt. En door het ongemak aan te kijken, lost het op en ga je werkelijk ervaren waar leven in je lichaam aanwezig is en hoe je deze levendigheid in je lichaam kunt vergroten.</p>
					<p><i><b>Hannah</b>: “Het leven kunnen we alleen ervaren met ons lichaam en daarom moeten we er veel meer mee in verbinding komen. En dat is precies wat in de les doen, je kruipt letterlijk in je lichaam. Je komt eindelijk thuis!”</i></p>
					<p>Heb je twijfels of vragen? Neem contact met me op.</p>
				</div>
				<img src="/9_20220823_215651 (1).jpg" alt="" class="xl:w-[40vw] w-[80vw] rounded-lg">
			</section>
		</div>
		<section class="flex gap-4 w-[80vw] mb-10">
			<div id="proefles" class="w-[50%] border p-4 rounded flex flex-col gap-3 my-4">
				<h2 class="text-xl">Meld je aan voor een gratis proefles</h2>
				<p>Na het invullen en versturen van uw gegevens krijgt u een email met informatie over de proefles</p>
				<button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-orange-500 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Aanmelden</button>
			</div>
			<div id="abbonoment" class="w-[50%] border h-fit p-4 rounded flex flex-col gap-3 my-4">
				<h2 class="text-xl">Abbonoment afsluiten</h2>
				<p>Na het invullen en versturen van gegevens wordt u naar een betalingspagina van stripe gebracht. Nadat u betaald heeft krijgt u een email om een gesprek met hannah in te plannen</p>
				<button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-orange-500 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Afsluiten</button>
			</div>	
		</section>
		<div class="flex py-10 justify-center w-full bg-[#007ab5]">
			<div class="ml-embedded" data-form="OXadBd"></div>
		</div>
		
	</main>
</Layout>

<script>
	document.getElementById('proefles').addEventListener('click', (e) => {
		proeflesSubmit(e)
	})

	document.getElementById('abbonoment').addEventListener('click', (e) => {
		abbonomentSubmit(e)
	})

	const proeflesSubmit = (e) => {
		e.preventDefault()
		window.location.href = '/'
	}

	const abbonomentSubmit = (e) => {
		e.preventDefault()
		window.location.href = '/'
	}

</script>