---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="flex justify-center items-center">
			<div class="xl:w-[40vw] w-[80vw] mt-4">
				<h1 class="text-4xl my-4 text-center text-[#0f6dbf]">Yoga Details</h1>
				<br>
				<p>Voel je dat het met je lijf beter zou kunnen?</p>
				<br>
				<p>Heb je last van:</p>
				<ul>
					<li>stijfheid, kleine pijntjes, ongemak</li>
					<li>te weinig energie of moeilijk in beweging komen</li>
					<li>of vraagt het leven momenteel meer van je dan je gewend was en wil je goed voor jezelf zorgen?</li>
				</ul>
				<br>
				<p>Dan ben je hier helemaal op de goede plek!</p>
				<p>Want hier werken we aan een goede levensenergie en een lijf wat beter functioneert.</p>
				<img src="yogadetailsbanner.jpg" alt="" class="my-4">
				<br>
				<p class="text-[#0f6dbf]">Lesrooster:</p>
				<ul class="list-disc ml-4">
					<li>maandag: 1900u Kaiut Yoga</li>
					<li>maandag: 2030u Kaiut Yoga</li>
					<li>dinsdag: 2000u Kaiut Yoga</li>
					<li>woensdag: 1900u Kaiut Yoga</li>
					<li>woensdag: 2030u Kaiut Yoga</li>
					<li>vrijdag: 930u Kaiut Live</li>
				</ul>
				<br>
				<p class="text-[#0f6dbf]">Er zijn 4 mogelijkheden om les te volgen:</p>
				<ol class="list-decimal ml-4">
					<li>kom naar de studio in Velp (nabij Arnhem) en laat je begeleiden door Hannah (zie lesrooster)</li>
					<li>thuis Live via Zoom (zie lesrooster) en laat je begeleiden door Hannah</li>
					<li>onbeperkt, helemaal op jouw tijd, via de opgenomen lessen in de yoga-bibliotheek, hiertoe krijg je toegang als je een abonnement afsluit</li>
					<li>kom naar de Yoga Intensive dagen om Hannah persoonlijk te ontmoeten, en je eigen yoga te verdiepen (zie <a href="/events" class="text-blue-500">Events</a>)</li>
				</ol>
				<br>
				<p>Zo kan je wanneer je maar wil lessen volgen!</p>
				<a href="/events"><button class="border rounded-lg my-4 p-2 bg-[#0f6dbf] text-white">Inschrijven voor een Yoga Intensive</button></a>
				<p class="text-[#0f6dbf]">Hoe werkt de Kauit Live Online via ZOOM?</p>
				<p>Zie FAQ, hierin wordt in stapjes beschreven hoe je in de les komt. En kom je er niet uit, neem dan contact op.</p>	
				<img src="printscreen_yoga2.png" alt="" class="my-4">
				<p class="text-[#0f6dbf]">Proefles</p>
				<p>Wil je eerst kennis maken? Je bent van harte welkom!</p>
				<br>
				<a target="_blank" href="https://buy.stripe.com/00gdRI71W9a36Nq289" class="border rounded-lg p-2 bg-[#0f6dbf] text-white">Boek een proefles</a>
				<br>
				<br>
				<p>Omdat Kaiut Yoga een diepwerkende yogavorm is, raad ik je aan om 3 proeflessen te boeken. De eerste keer is voor de meeste mensen zo nieuw, dat ze vaak nog niet de volle potentie van de lessen kunnen ervaren. </p>
				<br>
				<p>Omdat ik het persoonlijke aspect van yogales erg belangrijk vind, en ik het fijn vind om over en weer kennis te maken, heb ik met iedereen een kort kennismakingsgesprek voorafgaand aan de eerste les. Hierdoor kan je mij vertellen waar je behoefte aan hebt en weet ik hoe ik je het beste kan begeleiden. Heb je een proefles geboekt, dan neem ik contact met je op. <br> Leuk jou te ontmoeten!</p>
				<br>
				<p class="text-[#0f6dbf]">Maand Abonnement</p>
				<p>Zijn de proeflessen goed bevallen, dan sluit je een maand abonnement af.​</p>
				<br>
				<p class="text-[#0f6dbf]">Prijzen vanaf 1 september 2023:</p>
				<ul class="list-disc ml-4">
					<li>maandabonnement onbeperkt live online les en toegang tot de lesbibliotheek: €45  </li>
					<li>maandabonnement 1 x per week les in de studio en onbeperkt online les en toegang tot de lesbibliotheek: €55</li>
					<li>maandabonnement  2 x per week les in de studio en onbeperkt online les en toegang tot de lesbibliotheek: €65</li>
				</ul>
				<br>
				<p>Als je geen maandabonnement afsluit, kost een losse les 20 euro.</p>
				<a target="_blank" href="https://buy.stripe.com/bIY3d4fys5XRdbO8wA"><button class="border rounded-lg my-4 p-2 bg-[#0f6dbf] text-white">Maand abonnement afsluiten</button></a>
			</br>
				<br>
				<div class="flex flex-col">
					<div class="w-[40vw]">
						<p class="text-[#0f6dbf]">Materialen die we gebruiken tijdens de les</p>	
						<p>We gebruiken een mat, bolster, riem en blok, zie foto en zie FAQ voor details en alternatieven.</p>
					</div>
					<img src="materialen_yoga.png" class="my-4 w-[60vw]" alt="">
				</div>
				<p class="text-[#0f6dbf]">Geen les</p>
				<ul>
					<li>vrijdag 26 april t/m dinsdag 30 april ivm mei-vakantie</li>	
					<li>maandag 13 mei t/m woensdag 22 mei (ivm retraite Portugal)</li>
					<li>maandag 8 juli t/m vrijdag 16 augustus: aangepast rooster ivm zomervakantie</li>
				</ul>
				<p>andere data na augustus volgen mogelijk nog</p>
				<br>
				<p class="text-[#0f6dbf]">Meer informatie?</p>
				<p>Behoefte meer informatie?</p>
				<p>Behoefte aan individuele lessen?</p>
				<p>Behoefte aan yoga op andere locatie?</p>
				<p>Yoga inpassen in een workshop of retraite?</p>
				<p>Er is veel mogelijk, voel je vrij om te vragen.</p>
				<br>
				<p>Neem contact op via info@centerforlife.nl</p>
				<br>
				<p class="text-[#0f6dbf]">Tot bij de (online) les, de Yoga Intensives of een retraite!</p>
			</div>
		</section>
		<Footer />
	</main>
</Layout>

<style>
</style>