---

---

<footer class="w-full" id="nieuwsbrief">
  <div class="flex md:flex-row flex-col py-10 justify-center w-full mt-4 gap-4 bg-[#0f6dbf]">
		<div class="ml-embedded md:w-[40vw]" data-form="OXadBd"></div>
		<div class="text-white md:w-[40vw] flex justify-center">
			<div class="w-[50vw]">
				<p>Center for Life / Hannah Mutsaerts</p>
				<p>Mozartlaan 3</p>
				<p>6881 PJ Velp (gld)</p>
				<br>
				<p>info@centerforlife.nl</p>
				<br>
				<p>Kvk 56022956</p>
			</div>
			<div class="flex gap-2 mt-4">
				<a href="https://www.facebook.com/hannahmutsaerts/"><img src="facebook.ico" class="w-7 h-7" alt=""></a>
				<a href="https://www.instagram.com/hannahmutsaerts/"><img src="instagram.png" alt=""></a>
			</div>
		</div>
	</div>
</footer>