---
export interface Props {
	title: string;
}
const title = "Centerforlife";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo_small.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles.css" />
		<link rel="stylesheet" href="/fonts/FuturaLight.otf">
		<title>{title}</title>
		<script defer src="/_vercel/insights/script.js"></script>
		<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '355540');
		</script>
	</head>
	<body>
		<nav class="sticky flex  top-0 bg-white h-[12vh] z-10">
			<div class="container flex flex-wrap items-center justify-between mx-auto">
  		  <a href="/" class="flex items-center">
					<img src="/logo_small.png" alt="" class="w-[20vh] sm:w-[15vh] md:w-[10vh] max-w-full">
					<span class="text-[#0f6dbf] text-lg sm:text-2xl">Centerforlife</span>
  		  </a>
  		  <button id="collapse" data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 mx-4 text-sm text-gray-500 rounded-lg 2xl:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
  		    <span class="sr-only">Open main menu</span>
  		    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
  		  </button>
  		  <div class="hidden w-full 2xl:block 2xl:w-auto" id="navbar-default">
  		    <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 2xl:flex-row 2xl:space-x-8 2xl:mt-0 2xl:text-sm 2xl:font-medium 2xl:border-0 2xl:bg-white dark:bg-gray-800 2xl:dark:bg-gray-900 dark:border-gray-700">
  		      <li class="nav-item">
							<a href="/" class="">Home</a>
  		      </li>
						<li class="nav-item">
							<a href="/yoga">Yoga</a>   
						</li>
						<li class="nav-item">
							<a href="/shiatsu">Shiatsu</a>   
						</li>
						<li class="nav-item">
							<a href="/events">Events</a>
						</li>
						<li class="nav-item">
							<a href="/hannah">Hannah</a>
  		      </li>
						<li class="nav-item">
							<a href="/faq">FAQ</a>
						</li>
						<li class="nav-item">
							<a href="/AVG">VWD & AVG</a>
						</li>
						<li class="nav-item">
							<a href="/contact">Contact</a>
						</li>
  		    </ul>
  		  </div>
  		</div>
		</nav>
		<slot />
	</body>
</html>

<style is:global>
	a:visited {
		font-weight: bold;
	}

	.active {
		font-weight: bold;
	}

	.nav-item {
		color: #0f6dbf;
		font-size: 1.4rem;
		font-weight: 400;
	}
</style>

<script>
	import { inject } from '@vercel/analytics'
	inject()

	// Get all the links in the navbar
	const links = document.querySelectorAll('nav ul li a');

	// Loop through the links and add an event listener to each link
	links.forEach(link => {
	  link.addEventListener('click', function(event) {
	    // Remove the "active" class from all links
	    links.forEach(link => {
	      link.classList.remove('active');
	    });
		
	    // Add the "active" class to the clicked link
	    link.classList.add('active');
		
	    // Store the active link information in session storage
	    sessionStorage.setItem('activeLink', link.href);
	  });
	});

	// Retrieve the active link information from session storage and add the "active" class to the link
	const activeLink = sessionStorage.getItem('activeLink');
	if (activeLink) {
	  links.forEach(link => {
	    if (link.href === activeLink) {
	      link.classList.add('active');
	    }
	  });
	}


	const collapse = document.getElementById('collapse')
	const navbar = document.getElementById('navbar-default')
	collapse.addEventListener('click', () => {
		navbar.classList.toggle('hidden')
	})

	// Get the Yoga link and the dropdown-menu
	const yogaLink = document.querySelector('.dropdown-toggle');
	const dropdownMenu = document.querySelector('.dropdown-menu');

	// Add an event listener to the Yoga link
	yogaLink.addEventListener('click', function() {
	  // Toggle the active class on the dropdown-menu
	  dropdownMenu.classList.toggle('hidden');
	});
</script>
